<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/header.ejs') %>
    <title>Home</title>
</head>

<body>
    <%- include('../partials/navbar.ejs') %>

    <div class="container">
        <!-- Page Content goes here -->
        <center>
            <h3 class="header">Profile</h3>
        </center>
        <div class="row">
            <div class="col s6">
                <div class="card horizontal">
                    <div class="card-stacked">
                        <div class="card-content">
                            <p>Your Profile</p>
                            <form action="/users/update/<%= data.id %>" method="POST">
                                <label for="username">Username</label><br>
                                <input readonly type="text" name="username" value="<%= data.username %>"><br>
                                <label for="password">Password:</label><br><br>
                                <input type="password" id="password" name="password"
                                    value="<%= data.password %>"><br><br>
                                <label for="firstName">firstName</label><br>
                                <input type="text" name="firstName" value="<%= data.FirstName %>"><br>
                                <label for="lastName">lastName</label><br>
                                <input type="text" name="lastName" value="<%= data.LastName %>"><br>
                                <input class="waves-light btn" type="submit" value="Update Profile">
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col s6">
                <div class="card horizontal">
                    <div class="card-stacked">
                        <div class="card-content">
                            <p>Your Profile</p>
                            <table>
                                <tr>
                                    <th>Question</th>
                                    <th>Action</th>
                                </tr>
                                <% if (dataQ){ %>
                                <% for (let i = 0; i<dataQ.length; i++){ %>
                                <tr>
                                    <td><%= dataQ[i].question %></td>
                                    <td><a class="waves-light btn"
                                            href="/questions/delete/<%= dataQ[i].id %>">Delete</a></td>
                                </tr>
                                <% }} %>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('../partials/footer.ejs') %>
</body>

</html>